In [232]:
import numpy as np

In [233]:
import pandas

In [234]:
import statsmodels.api as sm

In [235]:
from statsmodels.tsa.api import VAR, DynamicVAR

In [236]:
import pandas as pd

In [237]:
import time
import warnings
import datetime

In [238]:
warnings.filterwarnings("ignore")

In [274]:
mdata = pd.read_csv('day_data.csv')

In [275]:
mdata.head()

,date,voltage,amp,pf,consumption,energy_timestamp,frequency,meter_id,thd
0,1,245.571127,2.454502,0.997741,569.9396,1538006400,49.0,9,0
1,2,241.921330,13.215324,0.998644,0.0000,1538092800,49.0,9,0
2,3,236.583467,11.028691,0.998407,2493.7696,1538352000,49.0,9,0
3,4,243.343959,0.416946,0.998838,0.0000,1538179200,49.0,9,0
4,5,241.336195,11.995822,0.998872,2670.2403,1538524800,49.0,9,0

In [276]:
mdata.dtypes

date                  int64
voltage             float64
amp                 float64
pf                  float64
consumption         float64
energy_timestamp      int64
frequency           float64
meter_id              int64
thd                   int64
dtype: object

In [277]:
mdata['date']=(mdata['date']*86400)

In [278]:
dates=[]
months=[]
years=[]
dayofweeks=[]
weekofmonths=[]
weekofyears=[]
timestamps=[]

In [279]:
for i in mdata['energy_timestamp']:
    k=int(time.strftime('%d', time.localtime(i)))
    dates.append(k)
    months.append(int(time.strftime('%m', time.localtime(i))))
    years.append(int(time.strftime('%Y', time.localtime(i))))
    dayofweeks.append(int(time.strftime('%w', time.localtime(i))))
    weekofmonths.append((k/7)+1)
    weekofyears.append(int(time.strftime('%U', time.localtime(i))))
    timestamps.append(time.strftime('%Y-%m-%d',time.localtime(i)))

In [280]:
mdata['dateofmonth']=dates
mdata['month']=months
mdata['year']=years
mdata['dayofweek']=dayofweeks
mdata['weekofmonths']=weekofmonths
mdata['weekofyears']=weekofyears
mdata['date']=timestamps

In [281]:
mdata.head()

,date,voltage,amp,pf,consumption,energy_timestamp,frequency,meter_id,thd,dateofmonth,month,year,dayofweek,weekofmonths,weekofyears
0,2018-09-27,245.571127,2.454502,0.997741,569.9396,1538006400,49.0,9,0,27,9,2018,4,4.857143,38
1,2018-09-28,241.921330,13.215324,0.998644,0.0000,1538092800,49.0,9,0,28,9,2018,5,5.000000,38
2,2018-10-01,236.583467,11.028691,0.998407,2493.7696,1538352000,49.0,9,0,1,10,2018,1,1.142857,39
3,2018-09-29,243.343959,0.416946,0.998838,0.0000,1538179200,49.0,9,0,29,9,2018,6,5.142857,38
4,2018-10-03,241.336195,11.995822,0.998872,2670.2403,1538524800,49.0,9,0,3,10,2018,3,1.428571,39

In [282]:
mdata.dtypes

date                 object
voltage             float64
amp                 float64
pf                  float64
consumption         float64
energy_timestamp      int64
frequency           float64
meter_id              int64
thd                   int64
dateofmonth           int64
month                 int64
year                  int64
dayofweek             int64
weekofmonths        float64
weekofyears           int64
dtype: object

In [283]:
data = mdata.drop(['date'], axis=1)

In [284]:

data.index = mdata.date

In [285]:

data=data.drop(['meter_id'],axis=1)
data=data.drop(['thd'],axis=1)

In [286]:
data.head()

,voltage,amp,pf,consumption,energy_timestamp,frequency,dateofmonth,month,year,dayofweek,weekofmonths,weekofyears
date,,,,,,,,,,,,
2018-09-27,245.571127,2.454502,0.997741,569.9396,1538006400,49.0,27,9,2018,4,4.857143,38
2018-09-28,241.921330,13.215324,0.998644,0.0000,1538092800,49.0,28,9,2018,5,5.000000,38
2018-10-01,236.583467,11.028691,0.998407,2493.7696,1538352000,49.0,1,10,2018,1,1.142857,39
2018-09-29,243.343959,0.416946,0.998838,0.0000,1538179200,49.0,29,9,2018,6,5.142857,38
2018-10-03,241.336195,11.995822,0.998872,2670.2403,1538524800,49.0,3,10,2018,3,1.428571,39

In [287]:
data.dtypes

voltage             float64
amp                 float64
pf                  float64
consumption         float64
energy_timestamp      int64
frequency           float64
dateofmonth           int64
month                 int64
year                  int64
dayofweek             int64
weekofmonths        float64
weekofyears           int64
dtype: object

In [288]:
data.dropna(inplace=True)

In [289]:
data.head()

,voltage,amp,pf,consumption,energy_timestamp,frequency,dateofmonth,month,year,dayofweek,weekofmonths,weekofyears
date,,,,,,,,,,,,
2018-09-27,245.571127,2.454502,0.997741,569.9396,1538006400,49.0,27,9,2018,4,4.857143,38
2018-09-28,241.921330,13.215324,0.998644,0.0000,1538092800,49.0,28,9,2018,5,5.000000,38
2018-10-01,236.583467,11.028691,0.998407,2493.7696,1538352000,49.0,1,10,2018,1,1.142857,39
2018-09-29,243.343959,0.416946,0.998838,0.0000,1538179200,49.0,29,9,2018,6,5.142857,38
2018-10-03,241.336195,11.995822,0.998872,2670.2403,1538524800,49.0,3,10,2018,3,1.428571,39

In [290]:
#missing value treatment
cols = data.columns
for j in cols:
    for i in range(0,len(data)):
       if(data[j][i] == -200):
           data[j][i] = data[j][i-1]

In [291]:
#checking stationarity
from statsmodels.tsa.vector_ar.vecm import coint_johansen
#since the test works for only 12 variables, I have randomly dropped
#in the next iteration, I would drop another and check the eigenvalues
#johan_test_temp = data.drop([ 'hour'], axis=1)
#coint_johansen(data,-1,1).eig

In [292]:
train = data[:int(0.8*(len(data)))]
valid = data[int(0.8*(len(data))):]

In [293]:
from statsmodels.tsa.vector_ar.var_model import VAR

model = VAR(endog=train)
model_fit = model.fit()

In [294]:
# model_fit.summary()

In [295]:
# make prediction on validation
prediction = model_fit.forecast(model_fit.y, steps=len(valid))

In [296]:
# prediction

In [297]:
#converting predictions to dataframe
pred = pd.DataFrame(index=range(0,len(prediction)),columns=[cols])

In [303]:
for j in range(0,12):
    for i in range(0, len(prediction)):
       pred.iloc[i][j] = prediction[i][j]

In [304]:
#check rmse
import math
from sklearn.metrics import mean_squared_error
for i in cols:
    print('rmse value for', i, 'is : ', math.sqrt(mean_squared_error(pred[i], valid[i])))

rmse value for voltage is :  144.94998748957667
rmse value for amp is :  6.016243572955134
rmse value for pf is :  0.6892504657764593
rmse value for consumption is :  1337.3195496624062
rmse value for energy_timestamp is :  1551312088.2205489
rmse value for frequency is :  36.21680697812826
rmse value for dateofmonth is :  17.339742404853272
rmse value for month is :  2.5260547066428276
rmse value for year is :  2019.0
rmse value for dayofweek is :  3.605551275463989
rmse value for weekofmonths is :  3.3654911398256417
rmse value for weekofyears is :  8.191168298554127